
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font: 300 16px/22px "Courier", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2% 10%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* Custom Styles */

h1 {
  font-size: 36px;
  line-height: 44px;
  border-bottom: solid black 2px;
}

header {
  width: 80%;
  text-align: center;
}

header h1{
  margin: 20px auto;
  border: none;
}


.warning {
  color: red;
  background-color: yellow;
  border: solid black 2px;
  padding: 2px;
}

.col-1-2
{
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 40%;
  border: solid black 2px;
  text-align: center;
  float: left;
}

.info-box
{
  height: 190px;
  margin-left: 20px;
}

.cust-charges {
  margin-bottom: 14px;
}

.reset-button {
  clear float: all;
  margin-top: 2%;
  margin-left:80%;  
}

.error-class {
  background-color: yellow;
}

td {
  width: 10em;
  text-align: right;
}

td.wide {
  width: 15em;
}
